# ...............................
# Python
__pycache__/
*.pyc
*.pyo
venv/
.env
.venv/

# ...............................
# Archivos comprimidos
*.zip
*.rar
*.7z
*.tar
*.gz

# ...............................
# VS Code
.vscode/